.park-card {
  border-radius: 12px;
  background-color: transparent;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px 5px rgba(0, 255, 0, 0.1); */
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.park-card:hover {
  padding: 15px;
  transform: scale(1.05);
  /* box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3), 0 0 10px 5px rgba(0, 255, 0, 0.3); */
}

.no-underline {
  text-decoration: none;
}

.park-card h3 {
  color: white;
  font-size: 21px;
  margin-bottom: 12px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
}

.image-gallery {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 16px;
}

.image-gallery div {
  flex: 1;
}

.park-card .image-gallery img {
  /* max-width: 100%;
  height: auto;
  width: 100%; */
  min-width: 100%; /* Set the image width to 100% to fill the container */
  max-height: 200px;
  border-radius: 12px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.park-card .image-gallery img:hover {
  transform: scale(1.1);
}

.park-card-title {
  
}

@media (max-width: 768px) {
  .park-card {
    font-size: 0.9em;
  }

  .image-gallery img {
    width: 100%;
  }
}