.park-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: #16291b;
  overflow: auto;
  padding-left: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.show-fees-btn,
.back-button {
  margin-left: 10vw;
  background: linear-gradient(to bottom, #90fd9b, #5ce069);
  color: black;
  border: none;
  padding: 12px 24px;
  margin: 8px 0;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
}
.show-fees-btn:hover,
.back-button:hover {
  background: linear-gradient(to bottom, #45a049, #4caf50);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

button:focus-visible,
.back-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 239, 128, 0.5);
}

.park-image-container {
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.top-section-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.park-image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.image-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.park-details h1,
.park-details h2 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.park-details h1 {
  font-size: 36px;
}

.park-details h2 {
  font-size: 28px;
}

.park-description {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.6;
}

.contact-us,
.entrance-fees,
.activities,
.additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 34vw;
  padding: 16px;
  background-color: lightgray;
  box-sizing: border-box;
  border: 2px solid #16291b;
  border-radius: 8px;
  flex: 3;
  margin-right: 20px;
  margin-bottom: 20px;
}

.additional-info p,
.additional-info strong {
  margin-bottom: 16px;
  font-size: 18px;
}

.additional-info strong {
  font-weight: bold;
}

.additional-info ul {
  list-style: none;
  padding: 0;
}

.additional-info li {
  border-bottom: 1px solid #16291b;
  padding: 10px 0;
}
.fee-list {
  display: flex;
  flex-direction: column;
}
.fee-list > button {
  width: 50%;
}
.lower-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .park-details {
    font-size: 0.9em;
    padding: 10px;
  }

  .activities,
  .additional-info,
  .contact-us,
  .entrance-fees {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .left-side,
  .right-side {
    flex-direction: column;
    width: 100%;
  }
  .park-image-container {
    height: auto;
  }
}
