.park-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #16291b;
  color: #ffffff;
  overflow: auto;
}

.park-details h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.park-details p {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.6;
}

.park-details h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.park-details ul {
  list-style: disc inside;
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.park-details .image-gallery div {
  flex: 1;
  max-width: calc(33.33% - 16px);
}

.image-gallery img {
  object-fit: cover;
  width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} 

.back-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50; 
  color: #fff; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
}

.back-button:hover {
  background-color: #45a049; 
}

.back-button:focus {
  outline: none;
}

.park-details ul {
  max-width: 80%; 
  list-style: disc inside;
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.park-details li {
  word-wrap: break-word; 
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: flex-start;
  max-width: 40%; 
  margin-left: auto;  
  border: 2px solid #ffffff;  
  padding: 16px;
  border-radius: 8px;
}

.activities ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
}

.activities li {
  word-wrap: break-word; 
  margin-bottom: 8px;
}
.additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ffffff;
  padding: 16px;
  border-radius: 8px;
}

.activities, .additional-info {
  width: 100%; 
  max-width: 800px;  
  margin: 20px 0;  
  padding: 16px;
  box-sizing: border-box; 
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.additional-info h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.additional-info p {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.6;
}

.additional-info strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .park-details {
    font-size: 0.9em;
    padding: 10px; 
  }

  .activities, .additional-info {
    max-width: 100%;
  }
  .image-gallery div {
    max-width: calc(50% - 16px);
  }

  .activities ul {
    padding-left: 1em;
  }

  .image-gallery img {
    width: 100%;
  }
}